[tools]
bun = "1.3.6"

[env]
_.path = "node_modules/.bin"

[hooks]
postinstall = "bun install"

[settings]
experimental = true
pin = true

[tasks.typecheck]
description = "Type check the project with tsgo"
run = "tsgo --noEmit"
